h3{
    display: flex;
    text-align: left;
    margin: 2px;
    font-size: 25px;
}

a{
    border: solid;
    border-color: blue;
    margin: 5px;
}


.filter{
    display: flex;
    display: column;
    text-align: left;
}

li{
    list-style: none;
}


